body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    border: solid;
    width: 50%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.blackStyledDiv {
    border: 1px solid green; 
    flex: 1;
    background-color: orange; 
}

.blackStyledDiv:hover{
    background:blue; 
}

.inputBoxes {
    width: 8%;
}