body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    border: solid;
    width: 50vh;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;
    margin: 0; 
    padding: 0;
}

#interiorContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;    
}

.blackStyledDiv {
    border: 1px solid white; 
    background-color: orange; 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

.blackStyledDiv:hover{
    background:black; 
}

.inputBoxes {
    width: 8%;
}
















/* Work area */
#container2 {
    border: solid;
    width: 50vh;
    height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    display: inline-block;
    align-items: stretch;
    margin: 0; 
    padding: 0;
    /*Having space between the divs in the HTML creates gaps between the divs; this avoids that*/
    font-size: 0;
}

.container2InsideContainer{
    display:flex;
    width: 100%; 
    height: 25%;
    border: 1px solid black; 
}

.testDivs{
  height: 100%;
  width: 10%;
  border: .5px solid; 
  display: inline-block; 
  margin: 0; 
  padding: 0;
  background-color: green; 
}

.testDivs:hover{
    background:yellow; 
}
/*END WORK AREA*/